:root{
    --default-font: 'Arial', sans-serif;
    --danger-color: rgb(185, 26, 26);
    --nav-hover-color: rgb(255, 0, 0); /*  a changer!!!!*/
    --succes-color: rgb(23, 161, 23);
    --main-background-color: rgb(123, 176, 98);
    --gray-color: rgb(128, 128, 128);
    --main-background-color2:  rgb(207, 200, 200);
    --white-opal-color: rgba(255, 255, 255, 0.8); 
    --image-background-color: rgb(211, 211, 211);
    --white-color: rgb(255, 255, 255);
    --black-color: rgb(12, 11, 11);
    --box-shadow-color1: rgba(0, 0, 0, 0.2);
    --gold-color: rgb(255, 215, 0);
    --background-planSite-color: rgba(25, 158, 157, 1);

    --width-height-45: 45px;
    --width-height-50: 50px;
    --width-height-100: 100px;
    --width-height-150: 150px;
    --width-height-200: 200px;
    --width-height-250: 250px;
    --width-height-300: 300px;
    --width-height-320: 320px;
    --width-height-350: 350px;
}

/*********************************************************************************************
                                   Pour tous les pages
**********************************************************************************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--default-font);
}

body{
    background-color: var(--main-background-color2);
}

#body-plan-site{
    background-color: var(--background-planSite-color);
}

/*********************************************************************************************
                                        Navbar
**********************************************************************************************/
.logo-CRM{
    height: var(--width-height-100);
    overflow: hidden;
}
.navbar{
    background-color: var(--main-background-color) !important;
    z-index: 999999999;
}
.navbar a{
    font-size: 18px;
}
.menu-ouvert{
    width: var(--width-height-250) !important;
    background-color: var(--main-background-color) !important;
}
#menu-btn{
   font-size: 40px;
}
.navbarmenu ul li > a,
.nav-link.active{
    /* background-image: linear-gradient(var(--nav-hover-color), var(--nav-hover-color)); */
    background-size: 0 1px;
    background-repeat: no-repeat;
    background-position: 0 100%;
}
.nav-link.active{
    color: var(--black-color) !important;
}
.navbarmenu ul li:hover > a,
.nav-link.active:hover{
    color: var(--black-color) !important;
}
#logo{
    height: var(--width-height-150);
}


/*********************************************************************************************
                                        Pour tous les pages
**********************************************************************************************/
main{
    background-color: var(--main-background-color2);
}
.footer-menu a {
    text-decoration: none;
    transition: text-decoration 0.2s ease !important;
}
.footer-menu a:hover {
    text-decoration: underline !important;
}

/*********************************************************************************************
                                        Pour tous les .modulo
**********************************************************************************************/
.modulo{
    width: var(--width-height-300);
    left: 50%;
    top: 50%;
    display: none;
    z-index: 1000;
    box-shadow: 0px 4px 8px var(--box-shadow-color1); 
    transform: translate(-50%, -50%);
}
#profil-Modulo{
    width: var(--width-height-350);
    box-shadow: 2px 2px 2px var(--box-shadow-color1);
}
.modulo p {
    font-size: 18px;
}
.show {
    display: block;
}
.hidden{
    display: none;
}
.buttons button {
      width: 80%;
      margin: 10px 0;
      padding: 10px;  
}

/*********************************************************************************************
                                        Scroll Top Button
**********************************************************************************************/
.scroll-top {
    visibility: hidden;
    opacity: 0;
    right: 40px;
    bottom: 20px;
    z-index: 99999;
    background-color: var(--main-background-color);
    width: var(--width-height-50);
    height: var(--width-height-50);
    transition: all 0.4s;
}
.scroll-top i {
    font-size: 30px;
    color: var(--white-color);
    line-height: 0;
}
.scroll-top:hover {
    background-color: color-mix(in srgb, var(--main-background-color), transparent 20%);
    color: var(--white-color);
}
.scroll-top.active {
    visibility: visible;
    opacity: 1;
    bottom: 15px;
}

/*********************************************************************************************
                                        Tous les boutons d'application
**********************************************************************************************/
#NoContactBDD-closeModulo,
#confirm-closeModulo,       /* page "confirmer.html */
#confirmReussi-closeModulo,
#delete-closeModulo,        /* page "affichage-détaillé.html */
#deleteReussi-closeModulo,
#ajout-closeModulo,         /* page "ajouter.html */
#ajoutReussi-closeModulo,
#NoContact-closeModulo{     /* page "rechercher.html */
    width: var(--width-height-45);
    height: var(--width-height-45);
}
.modulo-btn,
#submit-btn{
    background-color: var(--main-background-color);
    color: var(--white-color);
}
#upload-btn,
#remove-btn{
    width: var(--width-height-100);
}
.modulo-btn:hover,
#submit-btn:hover{
    background-color: var(--main-background-color);
    border: 1px solid var(--black-color) !important;
    color: var(--black-color);
}

/*********************************************************************************************
                                        Page Ajouter des contacts
**********************************************************************************************/

/*********************************************************************************************
                            Ajouter le photo du contact dans #modulo-profil
**********************************************************************************************/
#modulo-profil{
    width: var(--width-height-350);
}  
/* images de la page ajouter */
.image-container {
    height: var(--width-height-150);
    width: var(--width-height-150);
    background-color: var(--image-background-color);
    border: 1px solid var(--black-color);
}
.image-container img {
    width: 100%;
    height: 100%;
    max-width: var(--width-height-200); /* Taille réduite */
    max-height: var(--width-height-200);
    object-fit: cover;
}

/*********************************************************************************************
                            Formulaire de la Page Ajouter des contacts
**********************************************************************************************/
.card-item-details{
    box-shadow: 2px 2px 2px var(--box-shadow-color1);  
}
.profile-container {
    width: var(--width-height-200);
    height: var(--width-height-200);
    border: 1px solid var(--black-color);
    overflow: hidden;
    box-shadow: 0 4px 8px var(--box-shadow-color1);
    cursor: pointer;
}
#profile-pic{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer; /*pour remplir la boîte qu'il contienne... */
}
.information :is(input, select, textarea){
    width: 100%;
    box-shadow: 2px 2px 2px var(--box-shadow-color1);
    text-shadow: 0px 2px 5px var(--gray-color);
}
.star-button{
    font-size: 50px;
    cursor: default !important;
    background: none;
    color: var(--gray-color) !important;
    border: none;
}
.star-button.checked{
    color: var(--gold-color) !important;
    transition: color 0.3s ease-in-out !important;
}

/***********************************************************************************************
                            Page Home: afficher tous les contacts
************************************************************************************************/
#main-home{
    min-height: 80vh;
}
.search-container{
    box-shadow: 2px 2px 2px var(--box-shadow-color1);
    min-width: var(--width-height-320);
}
#recherche{
    border: none;
    outline: none; 
}
.accordion-item button{
    min-width: var(--width-height-320);
}
.accordion-collapse{
    background: var(--main-background-color2) !important;
}
.accordion-button.centered {
    display: inline;
    justify-content: center !important;  /* force le centrage horizontal */
    text-align: center !important;
}
.contact-card p{
    box-shadow: 2px 2px 2px var(--box-shadow-color1);
}
#photo img{ 
    height: var(--width-height-150);
    width: var(--width-height-150);
} 
#star-btn{
    cursor: pointer !important;
}
.infos.noms{
    max-width: var(--width-height-200);
    margin-right: 0;
}
#affiche-details{
    z-index: 999;
}
#editModal{
    padding-top: 50px;
    padding-bottom: 2rem;
    top: 110px; 
    left:0; 
    right:0; 
    bottom:0;
    overflow-y: auto;
    width: 95vw;
    max-height: 90vh;
    /* height: 100vh; */
    /* 100% de la hauteur visible de l'écran*/
    min-width: var(--width-height-300);
    background: var(--main-background-color2) !important;
}
#editModal :is(input, select, textarea){
    box-shadow: 2px 2px 2px var(--box-shadow-color1);
    text-shadow: 0px 2px 5px var(--gray-color);
}
.icon-container img{
    width: var(--width-height-50);
    height: var(--width-height-50);
    cursor: pointer;
}
body.no-scroll{
    overflow: hidden;
    height: 100vh;
}

/***********************************************************************************************
                                 Page de Rechercher les contacts
************************************************************************************************/
#resultat-recherche{
    display: none;
}
.recherches-container{
    box-shadow: 2px 2px 2px var(--box-shadow-color1);
}
select{ /* partout où il faut choisir .... */
    padding: 10px;
    box-shadow: 2px 2px 2px var(--box-shadow-color1);
}
#body-recherche{
    background: var(--main-background-color2);
}

/*********************************************************************************************
                                        Page Contact
**********************************************************************************************/
/* pouar valider si le text entrée est megfelelö */
.text-success{
    color: var(--succes-color);
}
.text-danger{
    color: var(--danger-color);
}
.megfelelo{
    outline: 0.2rem solid var(--succes-color);
    outline-offset: 0.2rem;
}
.nem-megfelelo{
    outline: 0.2rem solid var(--danger-color);
    outline-offset: 0.2rem;
}
.visible{
    display: block;
    color: var(--succes-color);
}

/******************************************** Checkbox **********************************************/
.costum-check label {
    line-height: 1.5;
    min-width: var(--width-height-300);
    border-color: 1 solid var(--black-color) !important;
}
#egyetertes + label::before{
    content: "";
    display: block;
    width: 1rem; /* 8px */
    height: 1rem;
    background-color: var(--white-color);
    margin-right: 1rem;
    line-height: 1rem;
    text-align: center;
    font-weight: 700;
    outline: 0.1rem solid var(--black-color);
}
#egyetertes:checked + label::before{
    content: "X";
    color: var(--black-color);
    outline: 0.2rem solid var(--succes-color);
    outline-offset: 0.2rem;
}

/*********************************************************************************************
                                       Se connecter
**********************************************************************************************/
#se_connecter input{
    box-shadow: 2px 2px 2px var(--box-shadow-color1);
    text-shadow: 0px 2px 5px var(--gray-color);
}
#main-connexion{
    min-height: 70vh;
}

/*********************************************************************************************
                                    Plan du site
**********************************************************************************************/
#main-plan-site {
  background-color: var(--background-planSite-color);
  min-height: 100vh;
}
.fejlec h1{
    padding-top: 200px;
    font-size: 4rem;
    font-weight: 900;
} 
#cible-a-trouver{
    width: 100%;
    max-width: 800px;
}
.pages-liste ul li:hover > a{
    color: var(--danger-color) !important;
}


@media screen and (min-width: 992px){

    main{
        max-width: 1200px;
        margin: 0 auto;
    }
    .navbarmenu li{
        border-color: transparent !important;
    }
}